:root{
    size:10px;
    font-size:10px;
    --opacity:0;
    --brightness:100%;
}
body{
    margin:0;
    width:1920px;
    height:4320px;
}
header{
    height:129px;
    width:100%;
    background-color: #000000;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:3.6rem;
    position:sticky;
    top:0;
    z-index: 5;
}
.img_header{
    height:129px;
    width:253px;
    background-size: cover;
    background-image: url(../img/page1/Group\ header.jpg);
    margin:0;
    padding:0;
}

.list_header>ul{
    display:flex;
    justify-content:end;
    align-items: center;
    color:#FFFCFC;
    box-sizing: border-box;
    transition: all 0.5s;
}
.list_header>ul>li{
    list-style-type: none;
    margin-right:4rem;
    padding-top:1rem;
}
.list_header>ul>li>a{
    text-decoration: none;
    color:#FFFCFC;
}
.list_header>ul>li>a:hover{
    color:burlywood;
}

section{
    width:1920px;
    height:4320px;
    
}
.page1{
    width:100%;
    margin-top:20px;
    height:1080px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around; 
    box-sizing: border-box;
}
.restangular1{
    width:370px;
    height:583px;
    position: relative;
    left:43px;
    top:189px;
    border-radius: 40px;
    background-image: url(../img/page1/Rectangle\ 1.jpg);
    animation: anime_first 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
}

@keyframes anime_first{
    from{top:189px;left:-457px}
    to{top:189px;left:43px}
}

.restangular2_3{
    position: relative;
    left:52px;
    top:71px;
    animation:anime_second 1s linear 1s;
}

@keyframes anime_second{
    from{top:71px;left:-900px}
    to{top:71px;left:52px}
}

.restangular2{
    width:465px;
    height:410px;
    border-radius: 30px;
}
.restangular3{
    width:465px;
    height:364px;   
    margin-top:42px;
    border-radius: 30px;
}
.restangular4_5{
    position:relative;
    left:28px;
    top:71px;
    animation:anime_third 1s linear 1s;   
}
@keyframes anime_third{
    from{top:71px;left:1000px}
    to{top:71px;left:28px}
}
.restangular4{
    width:467px;
    height:410px;
    border-radius: 30px;
}
.restangular5{
    width:475px;
    height:364px;
    margin-top:42px;
    border-radius: 30px;
}
.restangular6{
    position: relative;
    /*left:19px;*/
    top:189px;
    width:367px;
    height:583px;
    border-radius: 40px;
    animation:anime_forth 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
}

@keyframes anime_forth{
    from{left:1457px}
    to{left:19px}
}


.page2{
    height:1080px;
    width: 100%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-content: center;  
}
.rotate_pictures{
    width:50%;
    max-height:90vh;
    margin-top:40px;
}
.stable_picture{
    margin-top:140px;
    margin-left:86px;
    height:90%;
    width:945px;
    background-image:url(../img/page2/pexels-cottonbro-3998389\ 1.jpg);
    background-size: cover;  
    align-self:auto;
}
.first_picture_block{
    position: absolute;
    top:1850px;
    left:47px;
    z-index: 0;
    animation: rotate_first_image 8s infinite linear;
    background-color: #11ffee00; 
    border-radius: 50%;  
}
@keyframes rotate_first_image {
    from{top:1390px;left:47px}
    to{top:1390px;left:47px}
    25%{top:1390px;left:539px}
    50%{top:1850px;left:539px}
    75%{top:1850px;left:69px}
}
.first_picture{
    width:350px;
    height:350px;
    border-radius: 50%;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    background-image:url(../img/page2/Ellipse\ 1.jpg);
}
.text_1{
    width:350px;
    height:56px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    text-align: center;
}
.second_picture_block{
    position: absolute;
    top:1850px;
    left:69px;
    animation: rotate_second_image 8s infinite linear;
    z-index: 1;
    background-color: #11ffee00;
    border-radius: 50%;     
}
@keyframes rotate_second_image {
    from{top:1850px;left:69px}
    to{top:1850px;left:69px}
    25%{top:1390px;left:47px}
    50%{top:1390px;left:539px}
    75%{top:1850px;left:539px}
}
.second_picture{
    width:350px;
    height:350px;
    border-radius: 50%;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    border-radius: 50%;
    background-image:url(../img/page2/Ellipse\ 2.jpg); 
    
}
.text_2{
    width:350px;
    height:56px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    text-align: center;
}
.third_picture_block{
    position: absolute;
    top:1390px;
    left:539px;
    animation: rotate_third_image 8s infinite linear;
    z-index: 2;
    background-color: transparent;
    border-radius: 50%;     
}
@keyframes rotate_third_image {
    from{top:1390px;left:539px}
    to{top:1390px;left:539px}
    25%{top:1850px;left:539px}
    50%{top:1850px;left:69px}
    75%{top:1390px;left:47px}
}
.third_picture{
    width:350px;
    height:350px;
    border-radius: 50%;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    background:none;
    border-radius: 50%; 
    background-image:url(../img/page2/Ellipse\ 3.jpg);  
}
.text_3{
    width:380px;
    height:56px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    text-align: center;
}
.forth_picture_block{
    position: absolute;
    top:1850px;
    left:539px;
    animation: rotate_forth_image 8s infinite linear;
    z-index: 4;
    background-color: transparent;
    border-radius: 50%;    
}
@keyframes rotate_forth_image {
    from{top:1850px;left:539px}
    to{top:1850px;left:539px}
    25%{top:1850px;left:47px}
    50%{top:1390px;left:47px}
    75%{top:1390px;left:539px}
}
.forth_picture{
    width:350px;
    height:350px;
    border-radius: 50%;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    background:none;
    border-radius: 50%;
    background-image:url(../img/page2/Ellipse\ 4.jpg);   
}
.text_4{
    width:380px;
    height:56px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size:4.8rem;
    color:black;
    text-align: center;
}


.page3{
    height:1080px;
    width: 1787px;
    margin-inline:auto;    
}
.header_page3{
    margin-top:142px;
    width:100%;
    font-family: 'Rosario', sans-serif;
    font-weight:700;
    font-size:9.6rem;
    padding-top:150px;
    padding-bottom:30px;
    height:287px;
    text-align:center;
    max-lines: 1;
    box-sizing:border-box;
}
.pictures_page3{
    margin-top:51px;
    width:100%;
    height:677px;
    display: flex;
    justify-content: space-between;
}

.pictures_page3:hover .pictures12_page3>div{
    filter:brightness(0.3);
}
.pictures_page3:hover .pictures34_page3>div{
    filter:brightness(0.3);
}


.pictures12_page3{
    margin-left:0px;
    margin-top:0px;
    width:852px;
    height:677px;
    display:flex;
    justify-content:space-between;
}

.picture1_page3{
    width:404px;
    height:100%;
    border-radius:40px;
    background-image: url(../img/page3/Rectangle\ 1.jpg);
    filter:brightness(var(--brightness));
    transition: all 1s;
}
.pictures_page3>.pictures12_page3>.picture1_page3:hover{
    filter:brightness(100%);
    --opacity:100%;
}

.picture2_page3{
    width:392px;
    height:100%;
    margin-left:56;
    border-radius:40px;
    background-image: url(../img/page3/Rectangle\ 2.jpg);
    filter:brightness(var(--brightness));
    transition: all 1s;
}

.pictures_page3>.pictures12_page3>.picture2_page3:hover{
    filter:brightness(100%);
    --opacity:100%;
}

.pictures34_page3{
    margin-left:88px;
    margin-top:0;
    width:847px;
    height:677px;
    display:flex;
    justify-content:space-between;
}
.picture3_page3{
    width:400px;
    height:100%;
    border-radius:40px;
    background-image: url(../img/page3/Rectangle\ 3.jpg);
    filter:brightness(var(--brightness));
    transition: all 1s;
}

.pictures_page3>.pictures34_page3>.picture3_page3:hover{
    filter:brightness(100%);
    --opacity:100%;
}
    

.picture4_page3{
    width:396px;
    height:100%;
    margin-left:51px;
    border-radius:40px;
    background-image: url(../img/page3/Rectangle\ 4.jpg);
    filter:brightness(var(--brightness));
    transition: all 1s;
}
    
.pictures_page3>.pictures34_page3>.picture4_page3:hover{
    filter:brightness(100%);
    --opacity:100%;
}
.name{
    height:154px;
    width:100%;
    background-color:
    rgba(163, 83, 10, 0.7);
    color:#FFFAFA;
    margin-top:523px;
    border-radius: 0 0 15% 15%;
    font-family:'Volkhov', serif;
    font-weight:400;
    font-size:4.8rem;
    text-align: center;
    box-sizing:border-box;
    padding-block: 50px;
    opacity:var(--opacity);
    transition: all 1s;
}



.page4{
    width:100%;
    height:1080px;  
}

.page4_container{
    width:1596px;
    margin-inline:auto;
    height:570px;
    margin-top:172px;
    display: flex;
    justify-content: space-between;
}
.page4_header{
    font-family:'Rosario', sans-serif;
    font-style: italic;
    font-weight:700;
    font-size:6.4rem;
    color:black;
    width:100%;
    padding-top: 100px;
    height:273px;
    box-sizing: border-box;
    text-align: center;
}
.table{
    height:400px;
    width: 936px;
    background-color: #E5E5E5;
    border:1px solid white;
    box-sizing: border-box;
}
.input12{
    text-align: center;
    margin-top:27px;
}
.input1{
    font-family:'Rosario', sans-serif;
    font-style: normal;
    font-weight:700;
    font-size:3.6rem;
    width:380px;
    height:78px;
    color:rgba(0, 0, 0, 0.5);
    background-color: white;
    padding-left: 10px;
    box-sizing: border-box;
    border-color: white;
}
.input1::placeholder{
    opacity:30%;
}
.input2{
    font-family:'Rosario', sans-serif;
    font-style: normal;
    font-weight:700;
    font-size:3.6rem;
    width:452px;
    height:80px;
    color:rgba(0, 0, 0, 0.5);
    background-color: white;
    margin-left: 50px;
    padding-left: 10px;
    box-sizing: border-box;
    border-color: white;
}
.input2::placeholder{
    opacity:30%;
}
.input3{
    font-family:'Rosario', sans-serif;
    font-style: normal;
    font-weight:700;
    font-size:3.6rem;
    width:878px;
    height:209px;
    color:rgba(0, 0, 0, 0.5);
    background-color: white;
    margin-top:43px;
    margin-left:29px;
    padding-left: 10px;
    box-sizing: border-box;
    border-color: white;
}
.input3::placeholder{
    opacity:30%;
}

.map{
    margin-top:120px;
    border:1px solid transparent;
    width:626px;
    height:570px;
}

footer{
    margin-block: 153px 29px;
    width:1596px;
    margin-inline:auto;
    height:187px;
    border:1px solid transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.first_column{
    width:565px;
    height:187px;
    border:1px solid transparent;
    box-sizing: border-box;
    font-family:'Rosario', sans-serif;
    font-weight:700;
    font-size:3rem;
    text-align: center;
}
.first_column>a{
    font-family:'Rosario', sans-serif;
    font-style: italic;
    font-weight:600;
    font-size:3rem;
    text-decoration: none;
    color:black;
}
.second_column{
    width:485px;
    height:187px;
    border:1px solid transparent;
    box-sizing: border-box;
}
.third_column{
    width:390px;
    height:187px;
    border:1px solid transparent;
    box-sizing: border-box;
}
.second_column_header{
    font-family:'Rosario', sans-serif;
    font-weight:700;
    font-size:3rem;
    text-align: center;
    margin-top:20px;
    margin-bottom:40px;
}
.second_column_content{
    font-family:'Rosario', sans-serif;
    font-style: italic;
    font-weight:600;
    font-size:3rem;
    text-align: center;
}
.third_column_header{
    font-family:'Rosario', sans-serif;
    font-weight:700;
    font-size:3rem;
    text-align: center;
    margin-top:20px;
    margin-bottom:10px;
}
.third_column_content{
    font-family:'Rosario', sans-serif;
    font-style: italic;
    font-weight:600;
    font-size:3rem;
    text-align: center;
}
































@media screen and (max-width:992px)  and (min-width:769px) {
    :root{
        size:10px;
        font-size:6.5px;
        --opacity:0;
    }
    body{
        margin:0;
        max-width:992px;
        height:auto;
    }

    header{
        height:129px;
        width:100%;
        background-color: #000000;
        box-sizing: border-box;
        display:flex;
        justify-content:space-between;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:3.6rem;
        position:sticky;
        top:0;
        z-index: 5;
        align-items: center;
    }
    .img_header{
        height:129px;
        width:253px;
        background-size: cover;
        background-image: url(../img/page1/Group\ header.jpg);
        margin:0;
        padding:0;
    }
    
    .list_header>ul{
        display:flex;
        justify-content:end;
        align-items: center;
        color:#FFFCFC;
        box-sizing: border-box;
        transition: all 0.5s;
        margin-right:20px;
    }
    .list_header>ul>li{
        list-style-type: none;
        margin-right:4rem;
        padding-top:1rem;
    }
    .list_header>ul>li>a{
        text-decoration: none;
        color:#FFFCFC;
    }
    .list_header>ul>li>a:hover{
        color:burlywood;
    }


    section{
        width:auto;
        height: auto;   
    }
    .page1{
        width:100%;
        margin-top:20px;
        height:1540px;
        margin-inline: auto;
        display: flex;
        justify-content: space-around; 
        box-sizing: border-box;
    }
    .restangular1{
        display:block;
        width:370px;
        height:583px;
        position:absolute;
        left:111px;
        top:1058px;
        border-radius: 40px;
        background-image: url(../img/page1/Rectangle\ 1.jpg);
        animation: anime_first 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
    }
    
    @keyframes anime_first{
        from{top:1058px;left:-457px}
        to{top:1058px;left:111px}
    }
    
    .restangular2_3{
        position: absolute;
        left:15px;
        top:200px;
        animation:anime_second 1s linear 1s;
    }
    
    @keyframes anime_second{
        from{top:200px;left:-900px}
        to{top:200px;left:15px}
    }
    
    .restangular2{
        width:465px;
        height:410px;
        border-radius: 30px;
    }
    .restangular3{
        width:465px;
        height:364px;   
        margin-top:42px;
        border-radius: 30px;
    }
    .restangular4_5{
        position:absolute;
        left:495px;
        top:200px;
        animation:anime_third 1s linear 1s;   
    }
    @keyframes anime_third{
        from{top:200px;left:1000px}
        to{top:200px;left:495px}
    }
    .restangular4{
        width:465px;
        height:410px;
        border-radius: 30px;
    }
    .restangular5{
        width:465px;
        height:364px;
        margin-top:42px;
        border-radius: 30px;
    }
    .restangular5>img{
        width:465px;
        height:364px;
    }
    .restangular6{
        position: initial;
        position: absolute;
        left:496px;
        top:1058px;
        
        width:367px;
        height:583px;
        border-radius: 40px;
        animation: anime_forth 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.5s;
    }
    
    @keyframes anime_forth{
        from{left:1457px}
        to{left:496px}
    }


    .page2{
        height:2020px;
        width: 100%;
    }
    .rotate_pictures{
        width:50%;
        height:auto;
        margin-top:40px;
    }
    .stable_picture{
        position: absolute;
        top:1560px;
        left:-88px;
        height:1080px;
        width:100%;
        background-image:url(../img/page2/pexels-cottonbro-3998389\ 1.jpg);
        background-size: cover;
    }
    .first_picture_block{
        position: absolute;
        top:2800px;
        left:23px;
        z-index: 0;
        animation: rotate_first_image 8s infinite linear;
        background-color: #11ffee00; 
        border-radius: 50%;  
    }
    @keyframes rotate_first_image {
        from{top:2800px;left:47px}
        to{top:2800px;left:47px}
        25%{top:2800px;left:539px}
        50%{top:3260px;left:539px}
        75%{top:3260px;left:69px}
    }
    .first_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background-image:url(../img/page2/Ellipse\ 1.jpg);
    }
    .text_1{
        width:350px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .second_picture_block{
        position: absolute;
        top:3260px;
        left:69px;
        animation: rotate_second_image 8s infinite linear;
        z-index: 1;
        background-color: #11ffee00;
        border-radius: 50%;     
    }
    @keyframes rotate_second_image {
        from{top:3260px;left:69px}
        to{top:3260px;left:69px}
        25%{top:2800px;left:47px}
        50%{top:2800px;left:539px}
        75%{top:3260px;left:539px}
    }
    .second_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        border-radius: 50%;
        background-image:url(../img/page2/Ellipse\ 2.jpg); 
        
    }
    .text_2{
        width:350px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .third_picture_block{
        position: absolute;
        top:2800px;
        left:539px;
        animation: rotate_third_image 8s infinite linear;
        z-index: 2;
        background-color: transparent;
        border-radius: 50%;     
    }
    @keyframes rotate_third_image {
        from{top:2800px;left:539px}
        to{top:2800px;left:539px}
        25%{top:3260px;left:539px}
        50%{top:3260px;left:69px}
        75%{top:2800px;left:47px}
    }
    .third_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background:none;
        border-radius: 50%; 
        background-image:url(../img/page2/Ellipse\ 3.jpg);  
    }
    .text_3{
        width:380px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .forth_picture_block{
        position: absolute;
        top:3260px;
        left:539px;
        animation: rotate_forth_image 8s infinite linear;
        z-index: 4;
        background-color: transparent;
        border-radius: 50%;    
    }
    @keyframes rotate_forth_image {
        from{top:3260px;left:539px}
        to{top:3260px;left:539px}
        25%{top:3260px;left:47px}
        50%{top:2800px;left:47px}
        75%{top:2800px;left:539px}
    }
    .forth_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background:none;
        border-radius: 50%;
        background-image:url(../img/page2/Ellipse\ 4.jpg);   
    }
    .text_4{
        width:380px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }


    .page3{
        height:1700px;
        width:100%;
        margin-inline:auto;    
    }
    .header_page3{
        top:3550px;
        width:100%;
        font-family: 'Rosario', sans-serif;
        font-weight:700;
        font-size:9.6rem;
        padding-top:50px;
        padding-bottom:30px;
        height:200px;
        text-align:center;
        max-lines:1;
        box-sizing:border-box;
        position: absolute;
    }
    .pictures_page3{
        top:3850px;
        width:100%;
        height:auto;
        position:absolute;
        display: block;
    }

    .pictures_page3:hover .pictures12_page3>div{
        filter:brightness(0.3);
    }
    .pictures_page3:hover .pictures34_page3>div{
        filter:brightness(0.3);
    }

    .pictures12_page3{
        margin-left:70px;
        margin-top:0px;
        width:852px;
        height:677px;
        display:flex;
        justify-content:space-between;
    }
    .picture1_page3{
        width:404px;
        height:100%;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 1.jpg);
        transition: all 1s;
    }
    .pictures_page3>.pictures12_page3>.picture1_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    
    .picture2_page3{
        width:392px;
        height:100%;
        margin-left:56;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 2.jpg);
        transition: all 1s;
    }
    
    .pictures_page3>.pictures12_page3>.picture2_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    
    .pictures34_page3{
        margin-left:70px;
        margin-top:70px;
        width:847px;
        height:677px;
        display:flex;
        justify-content:space-between;
    }
    .picture3_page3{
        width:400px;
        height:100%;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 3.jpg);
        transition: all 1s;
    }
    .pictures_page3>.pictures34_page3>.picture3_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    .picture4_page3{
        width:396px;
        height:100%;
        margin-left:51px;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 4.jpg);
        transition: all 1s;
    }
    .pictures_page3>.pictures34_page3>.picture4_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    .name{
        height:154px;
        width:100%;
        background-color:
        rgba(163, 83, 10, 0.7);
        color:#FFFAFA;
        margin-top:523px;
        border-radius: 0 0 15% 15%;
        font-family:'Volkhov', serif;
        font-weight:400;
        font-size:4.8rem;
        text-align: center;
        box-sizing:border-box;
        padding-block: 50px;
        opacity:var(--opacity);
        transition: all 1s;
    }

    .page4{
        width:100%;
        height:1400px;  
    }
    
    .page4_container{
        width:100%;
        margin-inline:auto;
        height:570px;
        position: absolute;
        top:5250px;
        display: block;
    }
    .page4_header{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:700;
        font-size:6.4rem;
        color:black;
        width:100%;
        padding-block: 30px;
        height:auto;
        box-sizing: border-box;
        text-align: center;
    }
    .table{
        height:400px;
        width: 936px;
        background-color: #E5E5E5;
        border:1px solid white;
        box-sizing: border-box;
        margin-inline: auto;
    }
    .input12{
        text-align: center;
        margin-top:27px;
    }
    .input1{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:380px;
        height:78px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        padding-left: 10px;
        box-sizing: border-box;
        border-color: white;
    }
    .input1::placeholder{
        opacity:30%;
    }
    .input2{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:452px;
        height:80px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        margin-left: 50px;
        padding-left: 10px;
        box-sizing: border-box;
        border-color: white;
    }
    .input2::placeholder{
        opacity:30%;
    }
    .input3{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:878px;
        height:209px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        margin-top:43px;
        margin-left:29px;
        padding-left: 10px;
        box-sizing: border-box;
        border-color: white;
    }
    .input3::placeholder{
        opacity:30%;
    }
    
    .map{
        margin-top:50px;
        border:1px solid transparent;
        width:626px;
        height:570px;
        margin-inline: auto;
        padding-bottom: 30px;

    }
    
    footer{
        position:absolute;
        top: 6450px;
        width:100%;
        margin-inline:auto;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .first_column{
        width:565px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
    }
    .first_column>a{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-decoration: none;
        color:black;
    }
    .second_column{
        width:485px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
    }
    .third_column{
        width:390px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
    }
    .second_column_header{
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
        margin-top:20px;
        margin-bottom:40px;
    }
    .second_column_content{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-align: center;
    }
    .third_column_header{
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
        margin-top:20px;
        margin-bottom:10px;
    }
    .third_column_content{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-align: center;
    }
 
}











































@media screen and (max-width:768px) {

    :root{
        size:10px;
        font-size:4.5px;
        --opacity:0;
    }
    body{
        margin:0;
        max-width:768px;
        height:auto;
    }

    header{
        height:129px;
        width:100%;
        background-color: #000000;
        box-sizing: border-box;
        display:flex;
        justify-content:center;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:3.6rem;
        position:sticky;
        top:0;
        z-index: 5;
        align-items: center;
    }
    .img_header{
        height:129px;
        width:253px;
        background-size: cover;
        background-image: url(../img/page1/Group\ header.jpg);
        margin:0;
        padding:0;
    }
    
    .list_header>ul{
        display:flex;
        justify-content:end;
        align-items: center;
        color:#FFFCFC;
        box-sizing: border-box;
        transition: all 0.5s;
        margin-right:20px;
    }
    .list_header>ul>li{
        list-style-type: none;
        margin-right:4rem;
        padding-top:1rem;
    }
    .list_header>ul>li>a{
        text-decoration: none;
        color:#FFFCFC;
    }
    .list_header>ul>li>a:hover{
        color:burlywood;
    }

    section{
        width:auto;
        height:auto;   
    }
    .page1{
        width:100%;
        margin-top:20px;
        height:auto;
        box-sizing: border-box;
        display: block;
    }
    .page1 > .restangular1{ 
        position: initial;     
        width:50%;
        margin-inline: auto;
        background-repeat: no-repeat;
        height:583px;
        margin-block:50px;
        border-radius: 40px;
        background-image: url(../img/page1/Rectangle\ 1.jpg);
        animation: anime_first 3s linear 1s;
    }
 
    @keyframes anime_first{
        from{margin-left:-500px}
        to{margin-left:200px}
    }

    .page1 > .restangular2_3{
        margin-block: 50px;
        position: initial; 
        box-sizing: border-box;
        display:block;
        width:470px;
        height:auto;
        margin-left:20%;
        animation:none;
    }

    .page1 > .restangular2_3 >.restangular2{
        
        width:470px;
        height:410px;
        border-radius: 30px;
        animation:anime_second 3s linear 1s;    
    }
    @keyframes anime_second{
        from{margin-left:+1500px}
        to{margin-left:0%}
    }
    .page1 > .restangular2_3 >.restangular3{  
        
        width:470px;
        height:364px;   
        border-radius: 30px;
        animation:anime_third 3s linear 1s;
        background-image: url(../img/page1/Rectangle\ 3.jpg);
        background-repeat: no-repeat;
    }
    @keyframes anime_third{
        from{margin-left:-1000px}
        to{margin-left:0%}
    }

    .page1 > .restangular4_5{
        margin-block: 20px;
        position: initial; 
        box-sizing: border-box;
        display:block;
        width:470px;
        height:auto;
        margin-left:20%;
        animation:none;
    }


    .page1 > .restangular4_5 > .restangular4{
        position: initial;
        margin-inline: 0;
        width:465px;
        height:410px;
        border-radius: 30px;
        animation:anime_forth 3s linear 1s;
        background-image: url(../img/page1/Rectangle\ 4.jpg);
        background-repeat: no-repeat;  
    }

    @keyframes anime_forth{
        from{margin-left:1000px}
        to{margin-left:0}
    }
    .page1 > .restangular4_5 > .restangular5{
        width:465px;
        height:410px;
        border-radius: 30px;
        animation:anime_fifth 3s linear 1s;  
    }

    @keyframes anime_fifth{
        from{margin-left:-1000px}
        to{margin-left:0}
    }

    .restangular5>img{
        width:465px;
        height:364px;
    }

    .page1 > .restangular6{
        position:initial;    
        width:48.5%;
        margin-inline: auto;
        background-repeat: no-repeat;
        height:583px;
        border-radius: 40px;
        border-radius: 40px;
        background-image: url(../img/page1/Rectangle\ 6.jpg);
        background-repeat: no-repeat;
        animation:anime_sixth 3s linear 1s;
    }
    
    @keyframes anime_sixth{
        from{margin-left:857px}
        to{margin-left:200px}
    }






    .page2{
        height:auto;
        width: 100%;
    }
    .rotate_pictures{
        width:50%;
        height:auto;
        margin-top:40px;
        margin-left: 0;
    }
    .stable_picture{
        position: absolute;
        top:1560px;
        left:-88px;
        height:0;
        width:0;
        background-image:url(../img/page2/pexels-cottonbro-3998389\ 1.jpg);
        background-size: cover;
    }
    .first_picture_block{
        position: absolute;
        top:3200px;
        left:0px;
        z-index: 0;
        animation: rotate_first_image 8s infinite linear;
        background-color: #11ffee00; 
        border-radius: 50%;  
    }
    @keyframes rotate_first_image {
        from{top:3200px;left:0px}
        to{top:3200px;left:0px}
        25%{top:3200px;left:422px}
        50%{top:3660px;left:422px}
        75%{top:3660px;left:22px}
    }
    .first_picture{
        width:350px;
        height:350px;
        left:0;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background-image:url(../img/page2/Ellipse\ 1.jpg);
        transform:scale(0.8);
    }
    .text_1{
        width:350px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .second_picture_block{
        position: absolute;
        top:3660px;
        left:22px;
        animation: rotate_second_image 8s infinite linear;
        z-index: 1;
        background-color: #11ffee00;
        border-radius: 50%;     
    }
    @keyframes rotate_second_image {
        from{top:3660px;left:22px}
        to{top:3660px;left:22px}
        25%{top:3200px;left:0px}
        50%{top:3200px;left:422px}
        75%{top:3660px;left:422px}
    }
    .second_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        border-radius: 50%;
        background-image:url(../img/page2/Ellipse\ 2.jpg);
        transform:scale(0.8); 
        left:0;
        
    }
    .text_2{
        width:350px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .third_picture_block{
        position: absolute;
        top:3200px;
        left:492px;
        animation: rotate_third_image 8s infinite linear;
        z-index: 2;
        background-color: transparent;
        border-radius: 50%;     
    }
    @keyframes rotate_third_image {
        from{top:3200px;left:422px}
        to{top:3200px;left:422px}
        25%{top:3660px;left:452px}
        50%{top:3660px;left:22px}
        75%{top:3200px;left:0px}
    }
    .third_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background:none;
        border-radius: 50%; 
        background-image:url(../img/page2/Ellipse\ 3.jpg); 
        transform:scale(0.8); 
        left:0;
    }
    .text_3{
        width:380px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }
    .forth_picture_block{
        position: absolute;
        top:3660px;
        left:492px;
        animation: rotate_forth_image 8s infinite linear;
        z-index: 4;
        background-color: transparent;
        border-radius: 50%;    
    }
    @keyframes rotate_forth_image {
        from{top:3660px;left:422px}
        to{top:3660px;left:422px}
        25%{top:3660px;left:0px}
        50%{top:3200px;left:0px}
        75%{top:3200px;left:452px}
    }
    .forth_picture{
        width:350px;
        height:350px;
        border-radius: 50%;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        background:none;
        border-radius: 50%;
        background-image:url(../img/page2/Ellipse\ 4.jpg);
        transform:scale(0.8);   
        left:0;
    }
    .text_4{
        width:380px;
        height:56px;
        font-family: 'Rosario', sans-serif;
        font-weight: 700;
        font-size:4.8rem;
        color:black;
        text-align: center;
    }








    


    .page3{
        margin-top:900px;
        height:auto;
        width:100%;
        margin-inline:auto;  
        border:1px solid transparent;  
    }
    .header_page3{
        margin-top:30px;
        width:100%;
        font-family: 'Rosario', sans-serif;
        font-weight:700;
        font-size:9.6rem;
        padding-top:50px;
        padding-bottom:30px;
        height:200px;
        text-align:center;
        max-lines:1;
        box-sizing:border-box;
        position:initial;
    }
    .pictures_page3{
        margin-top:20px;
        width:100%;
        height:auto;
        position:initial;
        display: block;
        border:1px solid transparent;  
    }

    .pictures_page3:hover .pictures12_page3>div{
        filter:brightness(0.3);
    }
    .pictures_page3:hover .pictures34_page3>div{
        filter:brightness(0.3);
    }


    .pictures12_page3{
        margin-left:0px;
        margin-top:0px;
        width:100%;
        height:auto;
        position:initial;
        display:block;
        border:1px solid transparent;  
    }
    .picture1_page3{
        position:initial;
        margin-top:0px;
        width:404px;
        height:100%;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 1.jpg);
        transition: all 1s;
        border:1px solid transparent; 
        margin-left:200px;
    }
    .pictures_page3>.pictures12_page3>.picture1_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    
    .picture2_page3{
        width:392px;
        height:100%;
        margin-left:200px;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 2.jpg);
        transition: all 1s;
        position:initial;
        margin-top:100px;
        border:1px solid transparent; 
    }
    
    .pictures_page3>.pictures12_page3>.picture2_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    
    .pictures34_page3{
        margin-left:0px;
        margin-top:0px;
        width:100%;
        height:auto;
        position:initial;
        display:block;
        border:1px solid transparent;  
    }
    .picture3_page3{
        width:400px;
        height:100%;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 3.jpg);
        transition: all 1s;
        border:1px solid transparent;  
        margin-left:200px;
        margin-top: 100px;
    }
    .pictures_page3>.pictures34_page3>.picture3_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    .picture4_page3{
        width:396px;
        height:100%;
        margin-left:200px;
        margin-top: 100px;
        border-radius:40px;
        background-image: url(../img/page3/Rectangle\ 4.jpg);
        transition: all 1s;
        border:1px solid transparent;  
    }
    .pictures_page3>.pictures34_page3>.picture4_page3:hover{
        filter:brightness(100%);
        --opacity:100%;
    }
    .name{
        height:154px;
        width:100%;
        background-color:
        rgba(163, 83, 10, 0.7);
        color:#FFFAFA;
        margin-top:523px;
        border-radius: 0 0 15% 15%;
        font-family:'Volkhov', serif;
        font-weight:400;
        font-size:4.8rem;
        text-align: center;
        box-sizing:border-box;
        padding-block: 50px;
        opacity:var(--opacity);
        transition: all 1s;
    }



    .page4{
        width:100%;
        height:auto;  
    }
    
    .page4_container{
        width:100%;
        margin-inline:auto;
        height:570px;
        position: initial;
        margin-top:700px;
        display:block;
        
    }
    .page4_header{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:700;
        font-size:6.4rem;
        color:black;
        width:100%;
        padding-block: 30px;
        height:auto;
        box-sizing: border-box;
        text-align: center;
        
    
    }
    .table{
        height:400px;
        width: 100%;
        background-color: #E5E5E5;
        border:1px solid white;
        box-sizing: border-box;
        margin-inline: auto;
        
    }
    .input12{
        margin-top:27px;
        margin-left:20px;
        margin-left:29px;
        text-align: left;
        box-sizing: border-box;
    }
    .input1{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:328px;
        height:78px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        padding-left: 10px;
        box-sizing: border-box;
        border-color: white;
        margin-left: 10px;
        
    }
    .input1::placeholder{
        opacity:30%;
    }
    .input2{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:300px;
        height:80px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        margin-left: 50px;
        padding-left: 20px;
        box-sizing: border-box;
        border-color: white;
    }
    .input2::placeholder{
        opacity:30%;
    }
    .input3{
        font-family:'Rosario', sans-serif;
        font-style: normal;
        font-weight:700;
        font-size:3.6rem;
        width:678px;
        height:209px;
        color:rgba(0, 0, 0, 0.5);
        background-color: white;
        margin-top:43px;
        margin-left:39px;
        padding-left: 10px;
        box-sizing: border-box;
        border-color: white;
    }
    .input3::placeholder{
        opacity:30%;
    }
    
    .map{
        position: absolute;
        top:7300px;
        border:1px solid transparent;
        width:626px;
        height:570px;
        left: 50px;
        padding-bottom: 30px;
    }
    
    footer{
        position: initial;
        margin-top: 30px;
        width:100%;
        margin-inline:auto;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .first_column{
        width:565px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
    }
    .first_column>a{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-decoration: none;
        color:black;
    }
    .second_column{
        width:485px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
    }
    .third_column{
        width:390px;
        height:187px;
        border:1px solid transparent;
        box-sizing: border-box;
    }
    .second_column_header{
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
        margin-top:20px;
        margin-bottom:40px;
    }
    .second_column_content{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-align: center;
    }
    .third_column_header{
        font-family:'Rosario', sans-serif;
        font-weight:700;
        font-size:3rem;
        text-align: center;
        margin-top:20px;
        margin-bottom:10px;
    }
    .third_column_content{
        font-family:'Rosario', sans-serif;
        font-style: italic;
        font-weight:600;
        font-size:3rem;
        text-align: center;
    }

    

}


